<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="DATA.PROVIDER" value="System.Data.SqlClient"/>
    <add key="DATA.CONNECTIONSTRING" value="data source=74.208.192.182;Initial Catalog=TESTDB; Persist Security Info=True; User ID=sa; Password=data1prog"/>
    <add key="ADATemplatePdfPath" value="D:\NewScape"/>
    <add key="ADATemplatePdf" value="ADA 2019 ClaimForm v2.pdf"/>
    <add key="ADDPTemplatePdfPath" value="D:\NewScape"/>
    <add key="ADDPTemplatePdf" value="ADDPClaimForm.pdf"/>    
    <add key="SendEmail" value="N"/>
  </appSettings>
</configuration>